<div class="container">
    <div class="card shadow-lg rounded-lg border-0 mt-2">
        <div class="card-header bg-primary text-white rounded-top">
            <h3>ขายอาหาร / เครื่องดื่ม</h3>
        </div>
        <div class="card-body">

            <div class="d-flex justify-content-start align-items-center ">
                <!-- Table Number Input -->
                <div class="input-group me-2 " style="width: 200px;">
                    <span class="input-group-text ">โต๊ะ</span>
                    <input type="number" class="form-control" [(ngModel)]="tableNo">
                </div>

                <!-- Food Button -->
                <button class="btn btn-primary me-2" (click)="filterFoods()">
                    <i class="fas fa-utensils me-1"></i>อาหาร
                </button>

                <!-- Drinks Button -->
                <button class="btn btn-success me-2" (click)="filterDrinks()">
                    <i class="fas fa-wine-glass me-1"></i>เครื่องดื่ม
                </button>

                <!-- All Items Button -->
                <button class="btn btn-info me-2" (click)="fetchData()">
                    <i class="fas fa-check me-1"></i>ทั้งหมด
                </button>

                <!-- All Items Button -->
                <button class="btn btn-danger me-4" (click)="clearAllRow()">
                    <i class="fas fa-check me-1"></i>ล้างรายการ
                </button>

            
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <div class="row mt-3">
                            @for (item of foods; track $index) {
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-sm-12">
                                <div class="card">
                                    <img (click)="saveToSaleTemp(item)" class="card-image"
                                        [src]="apiPath + '/uploads/' + item.img" height="150px"
                                        style="object-fit: fill;">
                                    <div class="card-body">
                                        <div class="text-center h5">{{ item.name }}</div>
                                        <div class="text-success t-3 text-center">{{ item.price }} บาท </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="alert bg-dark text-white text-end h3 mt-3">Total :
                            {{amount.toLocaleString('th-TH')}}
                        </div>


                        @if (amount > 0) {
                        <button class="btn btn-primary btn-block btn-lg mb-2" data-bs-toggle="modal"
                            data-bs-target="#modalEndSale">
                            สิ้นสุดการขาย
                            <i class="fa fa-check ms-2"></i>
                        </button>
                        }


                        @for (item of saleTemps; track $index) {
                        <div class="card">
                            <div class="card-body">
                                <div>Table No. {{item.tableNo}}</div>
                                <div>ชื่อ : {{item.Food.name}}</div>
                                <div>จำนวน : {{item.price}} X {{item.qty}} = {{item.price * item.qty}}</div>
                                <div class="mt-2">
                                    <div class="input-group">
                                        <button class="btn btn-success" [disabled]="item.disabledQtyButton"
                                            (click)="changeQty(item.id, 'down')"> <i class="fas fa-minus "></i></button>
                                        <input type="text" disabled class="form-control text-center "
                                            [value]="item.qty">
                                        <button class="btn btn-success" [disabled]="item.disabledQtyButton"
                                            (click)="changeQty(item.id, 'up')"> <i class="fas fa-plus "></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-1">
                                <div class="row g-1">
                                    <div class="col-4">
                                        <button class="btn btn-danger btn-block " (click)=" removeItem(item)">
                                            <i class="fa-duotone fa-solid fa-times"></i> ลบ
                                        </button>
                                    </div>
                                    <div class="col-8">
                                        <button class="btn btn-success btn-block" (click)="chooseFoodSize(item)"
                                            data-bs-toggle="modal" data-bs-target="#modalFoodSize">
                                            <i class="fa-duotone fa-solid fa-cog"></i> กำหนด
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-my-modal modalId="modalFoodSize" title="เลือกขนาด" modalSize="modal-xl">
    <div class="h4">
        <button class="btn btn-primary me-2" (click)="newSaleTempDetail()">
            <i class="fa fa-plus me-2"></i>เพิ่มจำนวน
        </button>
        {{ foodName }}
    </div>
    <table class="mt-3 table table-bordered table-striped">
        <thead>
            <tr>
                <th width="50px"></th>
                <th>รายการ</th>
                <th width="320px" class="text-center">รสชาติ</th>
                <th width="300px" class="text-center">เลือกขนาด</th>
            </tr>
        </thead>
        <tbody>
            @for (item of saleTempDetail; track $index) {
            <tr>
                <td class="text-center">
                    <button class="btn btn-danger" (click)="removeSaleTempDetail(item.id)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
                <td>{{ item.Food.name }}</td>
                <td class="text-center">
                    @for (taste of tastes; track $index) {

                    @if (taste.id === item.tasteId) {
                    <button class="btn btn-primary me-2">
                        {{taste.name}}
                    </button>
                    }@else {
                    <button class="btn btn-outline-primary me-1" (click)="selectedTaste(item.id , taste.id)">
                        {{taste.name}}
                    </button>
                    }
                    }
                </td>
                <td class="text-center">
                    @for (foodSize of foodSizes; track $index) {
                    @if (foodSize.moneyAdded > 0) {
                    @if (foodSize.moneyAdded != item.addedMoney) {
                    <button class="btn btn-outline-primary me-1" (click)="selectedFoodSize(item.id, foodSize.id)">
                        {{ foodSize.name }}
                        +{{ foodSize.moneyAdded }} บาท
                    </button>
                    } @else {
                    <button class="btn btn-primary me-2">
                        {{ foodSize.name }}
                        +{{ foodSize.moneyAdded }} บาท
                    </button>
                    }
                    }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</app-my-modal>

<app-my-modal modalId="modalEndSale" title="จบการขาย">
    <div>
        การรับเงิน
    </div>
    <div class="row">
        <div class="col-6">
            <button [className]="getClassName('cash')" (click)="selectedPayType('cash')">
                เงินสด
            </button>

        </div>
        <div class="col-6">
            <button [className]="getClassName('tranfer')" (click)="selectedPayType('tranfer')">
                โอน
            </button>
        </div>
    </div>

    <div class="mt-3">ยอดเงิน</div>
    <input class="form-control form-control-lg mb-2 " disabled [value]="amount">
   
    <div class="row mt-2 ">
        <div class="col-3">
            <button [className]="getClassNameOfButtons(50)"  (click)="changeInputMoney(50)">
                50
            </button>
        </div>
        <div class="col-3">
            <button [className]="getClassNameOfButtons(100)"  (click)="changeInputMoney(100)">
                100
            </button>
        </div>
        <div class="col-3">
            <button [className]="getClassNameOfButtons(500)"  (click)="changeInputMoney(500)">
                500
            </button>
        </div>
        <div class="col-3">
            <button [className]="getClassNameOfButtons(1000)"  (click)="changeInputMoney(1000)">
                1000
            </button>
        </div>
    </div>
    <input class="mt-3 form-control form-control-lg border border-outline-primary text-end"
    [(ngModel)]="inputMoney" (keyup)="changeInputMoney(inputMoney)" type="number">

    <div class="mt-3">
        เงินทอน 
    </div>
    <input class="form-control form-control-lg mt-2" disabled [value]="returnMoney.toLocaleString()" >

    <div class="mt-3">
        <div class="row g-1">
            
        <div class="col-6">
            <button class="btn btn-primary btn-block" (click)="changeInputMoney(amount)">
               จ่ายพอดี
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-success btn-block" (click)="endSale()">
                จบการขาย
            </button>
        </div>

    </div>
</div>


</app-my-modal>